@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.footer {
    background-color: #1b1b1b;
    color: #fff;
    padding: 40px 20px;
}

.footercontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footercolumn {
    flex: 1;
    min-width: 200px;
    margin: 10px 20px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footerabout {
    max-width: 300px;
}

.footerlogo {
    font-size: 24px;
    font-family: "PT Sans", sans-serif;
    font-weight: bolder;
    font-style: normal;
    margin-bottom: 15px;
  
}

.footercontact {
    list-style: none;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 30px;
}

.footercontact li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.footercontact li::before {
    
    color:#D2093C;
    margin-right: 10px;
 
}

.footerlinks {
    list-style: none;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footerlinks li {
    margin-bottom: 10px;
}

.footerlinks a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footerlinks a:hover {
    color:#D2093C;
}

.footernewsletter {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 300px;
}

.footerform {
    display: flex;
    margin-top: 10px;
}

.footerform input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.footerform button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
}

.footerform button:hover {
    background-color: #0056b3;
}

.footerbottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid #333;
    padding-top: 20px;
}

.footerbottom p {
    margin: 5px 0;
    
}

.footerbottom span {
    color:#D2093C;
}

.footersocial {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.footersocial a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footersocial a:hover {
    color:#D2093C;
}

@media (max-width: 768px) {
    .footercontainer {
        flex-direction: column;
        align-items: center;
    }

    .footercolumn {
        margin: 10px 0;
        text-align: center;
    }

    .footerbottom {
        flex-direction: column;
        align-items: center;
    }
}
